# linux and mac temporary files
*~
.DS_Store

# emacs temporary files
\#*#\

# netbeans ide et al
/nbproject/*
/.idea/*

# node modules and bower components
node_modules/*
bower_components/*

# project settings
app/app.settings.js

# build folder
build/
