.autocomplete-custom-template img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: solid #CCC 1px;
    margin-right: 15px;
}

.autocomplete-custom-template > li{
    height: 70px;
    padding-top: 10px;
}

md-toolbar:not(.md-menu-toolbar) .md-input-focused > md-icon.hover-accent {
    color: rgb(255,193,7) !important;
}

#main-items-search-input{
    color:white;
}
