body{
    background: #D9DBD5;
    overflow: hidden;
}

#app-header{
}

#page-wrapper{
    width: 100%;
    max-width: 800px;
    margin-top: -64px;
    margin-bottom: 64px;
    z-index: 3;
    background: white;
}

.header-toolbar{
    position: relative;
    color: rgba(0,0,0,0.54) !important;
    background: white !important;
    border-bottom: solid 1px #EEE;
    height: 64px !important;
}

.header-toolbar > input[type=text]{
    padding-left: 60px;
    padding-right: 20px;
    border: 0px;
}

.header-toolbar > md-icon.search{
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    left: 15px;
    opacity: 0.4;
}
