<div class="header-toolbar" layout="column">
    <md-icon md-svg-icon="search" class="search" aria-label="search"></md-icon>
    <input ng-model="vm.searchText" type="text" flex placeholder="Encontrar objectos"/>
</div>


<md-content flex layout-padding>

    <md-list>
        <div ng-repeat="item in vm.items | filter:{name: vm.searchText}">
            <md-list-item class="md-2-line">
                <img ng-src="{{item.image}}?{{$index}}" class="md-avatar" alt="{{item.name}}" />
                <div class="md-list-item-text" layout="column">
                    <h3><a ui-sref="item({id:item.id})" class="item-link">{{item.name}}</a></h3>
                    <p>Local: {{ item.container.name}}</p>
                </div>
            </md-list-item>
            <md-divider ></md-divider>
        </div>
    </md-list>

</md-content>
