<div class="header-toolbar">
    <div class="md-toolbar-tools">
        <a ui-sref="list" class="md-icon-button" style="margin-right: 10px;">
            <md-icon>arrow_back</md-icon>
        </a>
        <h2>
            <span>Adicionar objecto</span>
        </h2>
        <span flex></span>
        <md-button class="md-primary" aria-label="Guardar novo objecto" ng-click="vm.submit()">
            Guardar
        </md-button>
    </div>
</div>
<md-content flex layout-padding>
    <form ng-submit="vm.submit()" layout-padding>
        <md-input-container flex>
            <label>Que item tas a criar?</label>
            <input ng-model="vm.newItem.name">
        </md-input-container>


        <md-input-container flex>
            <label>Mete ai uma imagem para representar o bicho (URL = STRING)</label>
            <input ng-model="vm.newItem.image">
        </md-input-container>


        <md-input-container flex>
            <label>E esse item têm casa??</label>
            <md-select ng-model="vm.newItem.container">
                <md-option ng-repeat="container in vm.containers" value="{{container.url}}">
                    {{container.name}}
                </md-option>
            </md-select>
        </md-input-container>

    </form>
</md-content>
