<md-toolbar layout-padding layout="column" layout-align="left end">

    <md-input-container md-no-float style="margin: 10px 0; padding: 0px;" class="md-accent">
        <md-icon class="hover-accent">search</md-icon>
        <input ng-model="searchText" type="text" placeholder="Search for items" id="main-items-search">
    </md-input-container>

</md-toolbar>

<md-content flex>

    <md-list>
        <div ng-repeat="item in vm.items | filter:{name: searchText}">
            <md-list-item class="md-2-line">
                <img ng-src="{{item.image}}?{{$index}}" class="md-avatar" alt="{{item.name}}" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ item.name}}</h3>
                    <p>Local: {{ item.container.name}}</p>
                </div>
            </md-list-item>
            <md-divider ></md-divider>
        </div>
    </md-list>

</md-content>
