<md-content flex layout-align="center center" layout="column" id="login-page">

    <div id="login-raised-box" class="md-whiteframe-2dp">
        <h3>Alterar password</h3>
        <hr>

        <br/>
        <form ng-submit="vm.setPassword();" cg-busy="vm.requestStatus">
            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <label>Nova palavra-passe</label>
                <md-icon>lock_outline</md-icon>
                <input type="password" ng-model="vm.password">
                <div ng-messages>
                    <div>
                        {{vm.requestStatus.$$state.value.data.detail}}
                    </div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-accent" type="submit">Repor palavra-passe</md-button>
            </div>
        </form>
    </div>


</md-content>


<style>
    body {
        background-image: url('assets/images/background.jpg');
        background-size: cover;
    }

    #page-wrapper {
        background-color: rgba(103, 58, 183, 0.5);
    }

    #login-page {
        color: white;
        background-color: transparent;
    }

    #login-page h1 {
        color: white;
        text-align: center;
        margin-bottom: 1.5em;
        font-weight: 300;
    }

    #login-page .material-icons {
        color: rgba(255, 255, 255, 0.6);
        top: 5px;
    }

    #login-page md-input-container:not(.md-input-invalid).md-input-focused .md-input, #login-page md-input-container:not(.md-input-invalid) .md-input {
        border-color: rgba(255, 255, 255, 0.6);
        color: white;
    }

    #login-page md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
        color: rgba(255, 255, 255, 0.6) !important;
    }

    #login-raised-box {
        max-width: 400px;
        width: 100%;
        padding: 20px;
        background: rgba(255, 255, 255, 0.3);
        position: relative;
    }

    #login-page hr, #login-page .register-action {
        opacity: 0.6;
    }

    #login-page a {
        color: white;
    }

    .general-login-error {
        position: absolute;
        top: 0px;
        left: 10%;
        width: 80%;
        background: rgba(100, 100, 100, 0.3);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        margin: 0px;
        padding: 10px;
    }
</style>
