<md-toolbar class="page-toolbar">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="$history.back();" ng-if="$history.hasBack();">
            <md-icon>arrow_back</md-icon>
        </md-button>
        <md-button class="md-icon-button" ui-sref="itemsList" ng-if="!$history.hasBack();">
            <md-icon>arrow_back</md-icon>
        </md-button>
        <h3>
            <span>{{::vm.item.name}}</span>
        </h3>
        <span flex></span>
    </div>
</md-toolbar>

<md-content layout-padding>

    <div layout="row" layout-xs="column">
        <div flex-gt-xs="70" class="item-galery">
            <div class="zoom-img" ng-init="fullAvatar = (vm.item.avatar | mediaUrl); vm.zoomImgUrl = fullAvatar">
                <img src="{{vm.zoomImgUrl}}" style="width: 100%"/>
            </div>
        </div>
        <div flex-gt-xs="30">
            <table class="item-details-table">
                <tr>
                    <th>Category</th>
                    <td>{{::vm.item.$category.name}}</td>
                </tr>
                <tr>
                    <th>Container</th>
                    <td>{{::vm.item.$container.name}}</td>
                </tr>
                <tr>
                    <th>Quantity</th>
                    <td>{{::vm.item.quantity}}</td>
                </tr>
                <tr>
                    <th>Is in use</th>
                    <td>{{(vm.item.inUse)?'Yes':'No'}}</td>
                </tr>
                <tr>
                    <td class="item-description" colspan="2">
                        <span>Description</span>
                        {{::vm.item.description}}
                    </td>
                </tr>
            </table>

            <br/>

            <md-list ng-if="vm.item.$relatedItems.length > 0" style="margin-left: 15px;" class="related-items-list">
                <md-subheader>Related items</md-subheader>
                <md-list-item class="md-2-line item-line" ui-sref="itemDetails({id: related.id})"
                              ng-repeat="related in vm.item.$relatedItems">
                    <img ng-src="{{related.avatar | mediaUrl}}" class="md-avatar" alt="{{related.name}}"/>
                    <div class="md-list-item-text" layout="column">
                        <h3><a ui-sref="item({id:related.id})" class="item-link">{{related.name}}</a></h3>
                    </div>
                </md-list-item>
                <md-subheader ng-if="vm.item.$relatedFiles.length">Related files</md-subheader>
                <md-list-item class="md-2-line item-line" ng-repeat="related in vm.item.$relatedFiles">
                    <div class="md-list-item-text" layout="column">
                        <h3><a href="{{vm.mediaUrl + '/' + related.file}}" target="_blank" class="item-link">{{related.file}}</a>
                        </h3>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>

</md-content>
